sparkhPractice/data
SQL/la_restaurants.csv
*/__pycache__/*
*/*/__pycache__/*
data_local
apache_spark/spark_events
apache_spark/data/
apache_spark/spark_work
apache_spark/volumes/
apache_spark/hadoop_namenode_data
apache_spark/spark-events/
apache_spark/notebooks/
apache_spark/.ipynb_checkpoints/
airflow/logs/*
check_numpy.sh
data-science-old.git
llm/audio_to_text/transcriptions/
product_and_marketing/data
airflow/logs
Azure/data
python_codes/data
llm/eng-fra-transformer.h5
llm/eng-fra-transformer_non_gpu.h5
.gitignore
data_local/*
machine_learning/data
llm/vectorize.pickle
.gitignore
vol/*
llm/text_pairs.pickle
packagelist.txt
llm/eng-fra-transformer.keras
llm/from_scratch_tensorflow/exclude_git/*
machine_learning/product_and_marketing/data/
machine_learning/autoencoder_tensorflow/autoencoder/images
machine_learning/FashionMNIST/
machine_learning/runs/
machine_learning/stock/alpha_vantage_data/SPY_*.csv
machine_learning/stock/SPY_1m_Mar-Jun2025.csv
llm/from_scratch_pytorch/from_scratch_tensorflow/exclude_git
llm/rag/faiss_index/index.faiss
llm/rag/faiss_index/index.pkl
llm/rag/transcript.txt
llm/data/FashionMNIST/
llm/runs/
.gitignore
llm/data/
llm/from_scratch_pytorch/
machine_learning/time_series/lightning_logs/
mlruns/
mlartifacts/
machine_learning/mlflow_registry.db
interview/src/dsutils/__pycache__/
machine_learning/FashionMNIST
interview/data/
mlartifacts/
mlruns/
