sparkhPractice/data/movies1M/movies.dat
sparkhPractice/data/movies1M/ratings.dat
sparkhPractice/data/movies1M/users.dat
sparkhPractice/data/movies1M/README
spark_practice/data/movieLense100k/ml-100k-README.txt
spark_practice/data/movieLense100k/movies.dat
spark_practice/data/movieLense100k/ratings.dat
spark_practice/data/movieLense100k/README
spark_practice/data/movieLense100k/u.genre
spark_practice/data/movieLense100k/u.info
spark_practice/data/movieLense100k/u.occupation
spark_practice/data/movieLense100k/u1.base
spark_practice/data/movieLense100k/u1.test
spark_practice/data/movieLense100k/u2.base
spark_practice/data/movieLense100k/u2.test
spark_practice/data/movieLense100k/u3.base
spark_practice/data/movieLense100k/u3.test
spark_practice/data/movieLense100k/u4.base
spark_practice/data/movieLense100k/u4.test
spark_practice/data/movieLense100k/u5.base
spark_practice/data/movieLense100k/u5.test
spark_practice/data/movieLense100k/ua.base
spark_practice/data/movieLense100k/ua.test
spark_practice/data/movieLense100k/ub.base
spark_practice/data/movieLense100k/ub.test
spark_practice/data/movieLense100k/users.dat
spark_practice/data/movieLense1M/movies.dat
spark_practice/data/movieLense1M/ratings.dat
spark_practice/data/movieLense1M/README
spark_practice/data/movieLense1M/users.dat
spark_practice/data/movies1M/movies.dat
spark_practice/data/movies1M/ratings.dat
spark_practice/data/movies1M/README
spark_practice/data/movies1M/users.dat
spark_practice/data/movieLense100k/mku.sh
SQL/la_restaurants.csv
