sparkhPractice/data
SQL/la_restaurants.csv
*/__pycache__/*
*/*/__pycache__/*
data_local
apache_spark/spark_events
apache_spark/data/
apache_spark/spark_work
apache_spark/volumes/
apache_spark/hadoop_namenode_data
apache_spark/spark-events/
apache_spark/notebooks/
apache_spark/.ipynb_checkpoints/
airflow/logs/*
check_numpy.sh
data-science-old.git
llm/audio_to_text/transcriptions/
marketing/data
airflow/logs
Azure/data
marketing/data
python_codes/data